/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.custom-scrollbar::-webkit-scrollbar {
    width: 0;
    /* Remove scrollbar */
    background: transparent;
    /* Transparent background */
}

.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.popup {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    position: relative;
}

.popup img {
    max-width: 100%;
    max-height: 100%;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.liked {
    background-color: red;
}

/* Styles for mobile menu */
#navbarMenu {
    display: none;
    /* Initially hide the menu */
}


/* profile image */

.profile-initials {
    width: 50px;
    /* Adjust size as needed */
    height: 50px;
    /* Adjust size as needed */
    background-color: #ccc;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 20px;
    font-weight: bold;
}

.profile-image {
    width: 50px;
    /* Adjust size as needed */
    height: 50px;
    /* Adjust size as needed */
    border-radius: 50%;
}


@media screen and (max-width: 768px) {

    .navbar-center,
    .navbar-end {
        display: none;
        /* Hide these elements on small screens */
    }

    #navbarMenu {
        display: block;
        /* Show the menu */
    }
}